body{
    margin: 0;
    padding: 0;
}
img{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
}
h1{
    font-family: "Ubuntu", sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Noto Sans",sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    z-index: 1;
}
li a:hover{
    text-decoration: underline;
}
.container{
    width: 1440px;
    margin:0 auto;
}
header{
    background: url("img/townfone.jpg") no-repeat center top / cover;
}
*{
    box-sizing: border-box;
}
.lang{
    margin-left: 29px;
    height: 25px;
}
.nav{
    display: flex;
    position: relative;
    align-items: center;
    padding-bottom:28px;
    padding-top: 30px;

}
select {
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    border: none;
    background-color: transparent;
}
select:active, select:hover{
    border: none;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

.nav ul{
    display: flex;

}
ul,li {
    display: block;
    margin: 0;
    padding: 0;
}
.nav .logo{
    margin-left: 114px;
    margin-right: 59px;

}
.menu li{
    margin-right: 40px;
}
/* second div */
.offer{
    padding-bottom: 100px;
}
.offer{
position: relative;
    display: flex;
}

.lozung{
    flex-wrap: wrap;
    width: 484px;
    font-size: 50px;
    font-weight: 500;
    margin-left:114px ;
    padding-top:90px ;
}
.line-under{
    position: absolute;
    top: 275px;
    opacity: 0.3;
    left: 80px;
}
.skos{
    background: url("img/skos.png") no-repeat ;
    background-position: 80px -100px;

}
.prius{
    top: 0;
    left: 0;
}