*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #F9F9F9;
}
p{
     margin-bottom: 15px;
 }
a {
    text-decoration: none;
    color: black;

}
.container{
    width: 1762px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.container-2{
    width: 35%;
    height: auto;
    overflow: hidden;
    margin: 0 52px 0 54px;

}
header{
    width: 100%;
    display: flex;
    padding-top: 20px;
    flex-wrap:wrap ;
    align-items: center;
    padding-bottom: 13px;
}
.header-top,
.header-top-office{
    display: flex;
    align-items: center;
}
.header-top{
    width: 85%;
    justify-content: space-around;
}
.header-top-link a {
    padding: 0 60px 12px 10px;
}
.logo {
    width: 15%;
}
.header-top-office div{
    padding: 8px 30px 12px 10px
}
.header-top-office-basket{
    background-color: #E1E1E1;
    border-radius: 20px;
    height: 40px;
}
.header-top-office-basket img{
    padding-right: 15px;
    border-right: 2px solid white;

}

.header-top-office-basket span{
    color: #5B6770;
    padding-left: 7px;
}


.header-top select{
    border: none;
    background-color: inherit;
}

.header-bottom{
    width: 100%;
    height: 53px;
    display: flex;
    background-color:#FF7A00;
    color: white;
    border-radius: 50px ;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: -0.3px 6px 7px rgba(0, 0, 0, 0.08);
}
.header-bottom-bar{
    font-size: 19px;
    width: 20%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white;

}
.header-bottom-bar:nth-child(4){
    border: none;
}
.header-bottom-bar span{
    padding-left: 20px;


}
.search {
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px ;
    background: #5B6770;
}
.search input{
    background-color: inherit;
    border: none;
    border-bottom: 2px solid white;
    width: 80%;
    height: 50%;
}
input::placeholder {
    color: white;
    font-size: 19px;

}
.landmark-way{
    margin-top:10px;
}
.orange-line{
    color:#FF7A00;
    background-color:#FF7A00 ;
    height: 6px;
    border: none;
    margin-top: 25px;
}/*////////////////////////////////////////////////////////////////*/
.main-content-block{
    display: flex;
    margin-top:18px;
    justify-content: center;
}
.left-block-first p{
    margin-bottom: 15px;
}
.left-block-content-place{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 238px;
    overflow: scroll;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    border: 10px solid white ;
    border-bottom: 0;
    margin-bottom:15px;
    box-shadow: -0.3px 6px 7px rgba(0, 0, 0, 0.08)

}
.left-block-content-place-element{
    width:63px ;
    height: 63px;
    background-color: #E9E9E9;
    margin: 4px;
    border-radius: 10px;


}
.left-block-content-place::-webkit-scrollbar{
    width: 7px;

}
.left-block-content-place::-webkit-scrollbar-thumb{
    background-color: lawngreen;
    border-radius: 50px;
}
.left-block-own{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 108px;
    overflow: scroll;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    border: 10px solid white ;
    box-shadow: -0.3px 6px 7px rgba(0, 0, 0, 0.08);

}
.left-block-own-element{
    width:63px ;
    height: 63px;
    background-color: #E9E9E9;
    margin: 4px;
    border-radius: 10px;
}
.left-block-own::-webkit-scrollbar{
    width: 7px;

}
.left-block-own::-webkit-scrollbar-thumb{
    background-color: lawngreen;
    border-radius: 50px;
}
.form-file{
    display: flex;
    justify-content: center;
}

.file{
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.file-decorate1{
    margin-top: 15px;
    border-radius: 10px 10px 10px 15px;
    padding: 14px 58px 13px 21px;
    background-color: white;
    color: #84C400;
    width: 100%;
    border: 1px solid #84C400;
    font-family: Ubuntu, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    margin-bottom: 15px;
}
/*////////////////////////////////////////////////////////////////////////////////////////*/
.left-block-third p{
    margin-bottom: 15px;
}
.left-block-third-pallet{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 162px;
    border: 10px solid white;
    overflow: scroll;
    background-color: white;
    border-radius: 10px 2px 2px 10px;
    margin-bottom: 15px;
    border-bottom: 0;
}
.left-block-third-pallet-element{
    height: 35px;
    width: 35px;
    background-image: linear-gradient(red, yellow);
}
.left-block-third-pallet::-webkit-scrollbar{
    width: 7px;

}
.left-block-third-pallet::-webkit-scrollbar-thumb{
    background-color: lawngreen;
    border-radius: 50px;
}
/*///////////////////////////////////////////////////////////////////////*/
.left-block-fourth p{
    margin-bottom: 15px;
}
.left-block-fourth-content{
    display: flex;
    height: 117px;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 10px;
    align-items: center;

}
/*лучше было сделать радио*/
.rozetka{
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}
.rozetka:hover{
    border: none;
    transform: scale(1.2);
}
.rozetka:active{
    background-color: orange;
    border: none;
}
.horizontal,
.vertical{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.horizontal{
    border-right: 1px solid #E9E9E9;
    height: 91px;
}
.horizontal .rozetka img{
    transform: rotate(90deg);
}
/*//////////////////////////////////////////////////////////*/
.left-block-fifth p{
    margin-bottom: 15px;
}
.left-block-fifth input{
    display: none;
}
.left-block-fifth-choice{
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 15px;

}
.left-block-fifth-choice label{
    width: 20%;
    display: flex;
    border-right:1px solid #E1E1E1;
    height: 65%;
    align-items: center;
    justify-content: center;
}
.left-block-fifth-choice label:hover,
.left-block-fifth-choice label:active{
    color: darkorange;
}
.left-block-fifth-choice label:nth-child(5){
    border: none;
}
/*//////////////////////////////////////////////*/
.left-block-six{
width: 100%;
}
.file-decorate2{
    display: block;
    background: #84C400;
    color: white;
    border-radius: 10px 10px 10px 15px;
    padding: 14px 58px 13px 21px;
    font-family: Ubuntu, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    margin-bottom: 15px;

}
.file-decorate2:hover {
    color:  #84C400;
    background-color: white;

}
.left-block-six button{
    display: none;
}
.left-block-six p{
    font-family: Ubuntu, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

}
/*//////////////////////////midl///////////////////////////*/
.middle-block{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.middle-block-first{
    margin-bottom: 35px;
    object-fit: cover;
}

.middle-block-second{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 15px 15px 30px 30px;
}
.middle-block-second-content1,
.middle-block-second-content2,
.middle-block-second-content3{
    padding-left: 40px;
    border-right: 2px  solid #E1E1E1;
    margin-bottom:30px ;
}
.middle-block-second-content1,
.middle-block-second-content2,
.middle-block-second-content3 p{
    margin-top: 10px;
}
.middle-block-second a{
    margin-right: 20px;
    color: #FF7A00;
}
.middle-block-second-content1{
    width: 225px;
}

.middle-block-second-content2{
    width: 444px;
}
.middle-block-second-content2-elements{
    display: flex;
    flex-wrap: wrap;

}
.middle-block-second-content3{
    border:none;
   text-align: center;
    margin: 0 auto auto;
    padding: 0;

}
/*//////////////////////////////////////////////////////////////////////////*/
.right-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.right-block-first select{
    width: 318px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px 5px 10px 5px;
}
.right-block-second{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap:wrap ;
    margin-bottom: 15px;
}
.right-block-second-element{
    margin-left: 16px;
    text-align: left;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:15px 0 10px 0 ;
}
.right-block-second-element span{
    margin-left: 10px;
    width: 70px;
}

.right-block-third-content{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 15px;
}
.right-block-third-element{
    margin-left: 18px;
    text-align: left;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:15px 0 10px 0 ;
}
.right-block-third-element span{
    margin-left: 10px;
    width: 70px;
}

.right-block-forth{
    overflow: scroll;
    width: 100%;
    height: 460px;
    background-color: white;
    border: 10px solid white;
    border-radius: 10px;
    margin-bottom: 15px;
}
.right-block-forth-content{
    display: flex;
    flex-wrap: wrap;
    width: 260px;
}

.right-block-forth-element{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 20px;
}

.right-block-forth-element span{
    margin-left: 10px;
    width: 160px;
}
.right-block-forth::-webkit-scrollbar{
    width: 7px;


}
.right-block-forth::-webkit-scrollbar-thumb{
    background-color: lawngreen;
    border-radius: 50px;
    height:100px;

}
.prise-block{
    display: flex;
    align-items: flex-start;
}
.buy{
    margin-left: 40px;
    border-radius: 15px;
    width: 145px;
    height: 55px;
    background-color: #FF7A00;
    color: white;
    border: none;
    font-size: 20px;
}
.buy:hover{
    background-color: white;
    color: #FF7A00;
    border: 1px solid #84C400;
}
.basket{
    background: none;
    border: none;
    position: relative;
    width: 200px;
    letter-spacing: 1px;

    margin-top: 15px;

}
.basket::before{
    content: "";
    width: 30px;
    height: 30px;
    background: url("img/like.svg") no-repeat center;
    position: absolute;
    top:-10px;
    left: -2px;
}

/*f///////////////////////////////////////////////*/
footer{
    margin-top:40px;
    background: #5B6770;
    width: 100%;
}
.footer-block-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;

}
.footer-block-content-logo{
    padding: 30px 0 30px ;
    text-align: center;
}
.footer-block-content-logo p{
    margin-top: -35px;
}
.footer-block-content-menu,
.footer-block-content-service,
.footer-block-content-contact
{
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px ;
}
.footer-block-content-menu a,
.footer-block-content-service a,
.footer-block-content-contact a {
    margin-bottom: 15px;
    color: white;

}







/*
/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
/////////////////////////////////////

 */








@media screen and (max-width: 1600px) {
    .container {
        width: 1440px;
    }

    .container-2 {
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .middle-block {
        width: 630px;
        margin-top:35px;
    }

    .middle-block-first img {
        width: 630px;
    }

    .middle-block-first {
        height: 517px;
    }
    .middle-block-second-content1{
       width: 215px;
    }
    .middle-block-second{
        height: 175px;
    }
    .middle-block-second-content1,
    .middle-block-second-content2,
    .middle-block-second-content3{
        padding-left: 20px;}

    .middle-block-second-content2 {
        display: flex;
        flex-wrap: wrap;
        width: 360px;
        border: none;

    }
    .middle-block-second-content3{}

    .left-block-content-place{
        height: 190px;
        justify-content: center;
    }
    .left-block-content-place-element{
    width: 47px;
    height: 47px;
}
    .left-block-own-element{
    width: 47px;
    height: 47px;
}
    .left-block-own{
        height: 92px;
    }
    .left-block-fourth,
    .left-block-fifth{
        width: 100%;
    }
    .left-block-first{
        width: 90%;
    }
    .right-block-first select{
        width: 285px;

    }
}




