*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.gauzy{
    opacity: 0.5;
    font-size: 12px;
}
body{
    display: flex;
}
.left-block{
    background-color: black;
    color: white;
    font-family: "Roboto", Sans-Serif, serif;
    width: 270px;
}
.left-block-header{
    margin-bottom: 25px;
    position: relative;
    padding: 25px 0 0 25px;

}
.site-name{
    margin-bottom: 25px;
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
}
.site-name:before{
    content: "";
    background-image: url("img/dwe galochki.svg");
    height: 19px;
    width: 22px;
    position: absolute;
    left: 0;
}
.left-block-header:after{
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("img/lupa.svg");
    position: absolute;
    right: 31px;
    top: 27px;
}
.right-block{
    width: 1170px;
}
.user-photo{
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-color: red;
    margin-right: 15px;
}
.left-block-user{
    background-color: #202020;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px;
}
.menu img{
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
    margin:auto 0 ;
}
.user-menu{
    display: flex;
    align-items: center;
}
.menu{
    margin-left: 40px;
}
.left-block-stats{
    display: flex;
   float: left;
    width: 100%;
    margin: 15px 0 15px 25px;

}
.open{
    margin: auto;
}
.left-block-menu{
    display: flex;
    flex-direction: column;
    padding: 15px 0 0 25px;
}
.message{
    position: relative;
    width: 90px;
}
.message:after{
    content: " 3 ";
    background-color: #FFC200;
    position: absolute;
    display: block;
    width: 20px;
    height: 21px;
    border-radius: 15px;
    color: black;
    right: -20px;
    top: 0;
    text-align: center;
    font-size:13px;
    font-weight: bold;
}
.left-block-menu p{
    font-size: 14px;

    line-height: 22px;
}
.name{
    font-size: 14px;
}
.title-menu{
    width: 30px;
    height: 30px;
    background-color: #EAEAEA;
    border-radius: 15px;
}
.title-menu img{
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
}
.right-block-second-header{
    margin:15px 0 0 20px ;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.second-header-choose{
    opacity: 0.7;
    position: relative;
    font-family: "Roboto", Sans-Serif, serif;
    font-size: 16px;
    color: #131313;

    padding-bottom: 10px;

}

.second-header-choose:hover{
    opacity: 1;
    border-bottom:2px solid #FFC200;


}
.right-block-fon{
    background-color: #eeebe5;
    padding: 30px 0 150px 0;
    display: block;

}
.right-block-content{
    background-color: white;margin: 15px auto auto;
}
.content-day .gauzy{
    font-size: 14px;
}
.right-block-header{
    display: flex;
    justify-content: space-between;
}
.right-block-header-left{
    font-size: 32px;
    color: #131313;
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
    }

.title-name{
    padding: 0 25px 0 75px;
    position: relative;
}
.title-name:before{
    content: "";
    background-image: url("img/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffc200;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 20px;
    border-radius: 10px;
}

.right-block-content{
    width: 730px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;
}
.content-space{
    margin: 40px 25px 80px 25px;
    display: flex;
    flex-direction: column;
}
.content-text{
    margin-top: 30px;
    padding: 0 60px 0 50px;
    font-size: 18px;
    color: #131313;
    line-height: 20px;

}

.accepted,
.comment,
.uploads{
    position: relative;
}

.accepted:before{
    content: "";
    background-color: #CEF9C6;
    height: 40px;
    width: 40px;
    position: absolute;
    left: -50px;
    border-radius: 20px;
    background-image: url("img/galochka.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.time1,
.time2,
.time3{
    position: relative;
}
.time1:after{
    content: "8:40 PM";
    opacity: 0.7;
    font-size: 15px;
    color: #131313;
    text-align: right;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: 0;
}
.time2:after{
    content: "7:32 PM";
    opacity: 0.7;
    font-size: 15px;
    color: #131313;
    text-align: right;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: 0;

}
.time3:after{
    content: "6:02 PM";
    opacity: 0.7;
    font-size: 15px;
    color: #131313;
    text-align: right;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: 0;

}
.comment{
    position: relative;
}
.comment:before{
    content: "";
    background-color: #FFF8DD;
    height: 40px;
    width: 40px;
    position: absolute;
    left: -50px;
    border-radius: 20px;
    background-image: url("img/messege.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px 10px ;
}
.uploads:before{
    content: "";
    background-color: #E3EFFF;
    height: 40px;
    width: 40px;
    position: absolute;
    left: -50px;
    border-radius: 20px;
    background-image: url(img/upload.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px 37px;
}
.capabilities{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.another-users{
    display: flex;
}
.another-users-photo{
    height: 30px;
    width: 30px;
    background-color: green;
    margin: 3px;
    border-radius: 15px;
}
.share-link{
    border: none;
    padding: 5px 10px;
    border-radius: 13px;
    margin: 0 10px;
}
.chat{
    border: none;
    padding:5px 10px 5px 25px;
    border-radius: 13px;
    color: #ffc200;
    background: #fff8dd;
}
.chat-logo{
    position: relative;
}
.chat-logo:before{
    content: "";
    height: 13px;
    width: 13px;
    background-image: url(img/dialoge.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: -15px;
    bottom: 2px;

}
.comment-next{
    margin:15px auto;
    padding: 15px 25px ;
    background-color: #F7F6F3 ;
    border-radius: 5px;
    width: 580px;
    font-family: Roboto sans-serif;
    font-size: 17px;
    color: #131313;;
}
.photos{
   display: flex;
}
.photo img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-top: 20px;

}






